form{
color: black;
width: 50%;
background-color: white;
border: solid 1px black;
}

form label, button {
margin-left: 5px;
}

header {
    width: 29%;
    display: flex;
    float: left;
    height: auto;
}

header img{
    width: 200px;
    display: inline;
    height: auto;
}

nav{
    width: 70%;
    height: auto;
    float: right;
    height: 200px;
}

nav ul{
    list-style-type: none;
    max-width: 100%;
    padding-left: 0;
    display: flex;
    height: 100%;
}

nav li {
    text-decoration: none;
    border: none;
    display: inline;
    width: 20%;
    text-align: left;
    max-height: 200px;
    padding: 75px 0;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

table form{
    border: none;
}
